.Container-Card {
  width: fit-content;
  padding: 2rem;

  height: fit-content;
  border-radius: 1rem;

  margin: 2rem
}

.Shadow-Red {
  box-shadow: 4px 4px 16px 8px #e32b4d47;
}

.Shadow-Blue {
  box-shadow: 4px 4px 16px 8px rgba(43, 46, 227, 0.2);
}

.Title {
    margin-top: unset;
    color: coral;
    font-weight: 900;
    text-decoration: line-through;
    text-decoration-color: blue;
}

.Input-Username {
    margin-bottom: 1rem;
}

.Input-Password {
    margin-bottom: 1rem;
}

.Button-Submit {
    width: 10rem;
    height: 3rem;
}